/* global */

a {
	color: inherit;
}

html {
	zoom: 1.2;
}

h1 {
	margin: 0;
}

.wrapper-masthead,
.wrapper-footer {
	display: none;
}

.wrapper-main {
	padding: 0 0 30px 0;
}

p, li {
	font-size: 13px;
}

.container {
	max-width: 710px;
}

/* header */
.header {
	margin-top: 20px;
	display: flex;
	align-items: center;
}

.header .image {
	width: 15%;
	line-height: 0;
}

.header .image img {
	border-radius: 100%
}

.header .titles {
	flex-grow: 1;
	padding-left: 15px;
}

.header .titles h1 {
	font-size: 2em;
	margin: 0;
	font-weight: 300;
}

.header .titles h2 {
	font-size: 1em;
	margin: 0;
	font-weight: normal;
}

.header .contact-info a:first-child li:before {
	content: "timwredwards";
}

/* skills */
.skills {
	display: flex;
}

.skills .section * {
	margin: 0;
}

/* activity */

h3:first-child {
	margin-top: 0;
}

h3 {
	margin-bottom: 0;
}

.activity p {
	margin-top: 5px;
}

.activity .details {
	display: flex;
}

.activity .details * {
	margin: 0;
}

.activity .details blockquote {
	font-style: italic;
	flex-grow: 1;
}

.activity .details:last-child p:first-child {
	flex-grow: 1;
}

/* printing */
@media only print {
	html {
		zoom: 1.0;
	}

	.header {
		margin-top: 0;
	}

	.wrapper-main {
		padding: 0;
	}
}
