/* global */

a {
	color: inherit;
}

html {
	zoom: 1.4;
}

.wrapper-masthead,
.wrapper-footer {
	display: none;
}

p, li {
	font-size: 11px;
}

ul {
	padding-left: 1em;
}

h1,h2,h3,h4,h5,.tagline, strong {
	letter-spacing: 0.3px;
}

h1 {
	margin: 0 !important;
	font-size: 1.5em;
	font-weight: 500;
	margin: 0 !important;
	line-height: 1.2 !important;
}


h4 {
	font-size: 0.8em;
	font-weight: 500;
}

@media (prefers-color-scheme: light) {
	p, li {
		color: black !important;
	}
	hr {
		background: black !important;
	}
}

@media (prefers-color-scheme: dark) {
	* {
		color: white !important;
	}
	hr {
		background: white !important;
	}
}

.container {
	max-width: 710px;
}

/* pdf banner */

.pdf-banner {
	position: absolute;
	height: 30px;
	line-height: 30px;
	background-color: #4183C4;
	text-align: center;
	left: 0;
	top: 0px;
	right: 0;
	color: #ddd;
}

/* header */
.header {
	margin-top: 60px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.header .image {
	width: 80px;
	height: 80px;
	line-height: 0;
}

.header .image img {
	border-radius: 100%
}

.header .titles {
	flex-grow: 1;
	padding-left: 10px;
}

.header .titles h4 {
	margin: 0;
}

.header .contact {
	margin: 0;
	margin-bottom: 5px;
}

.header .contact a {
	display: flex;
	align-items: center;
	margin-top: 4px;
	font-weight: 500;
	letter-spacing: 0.3px;
}

.header .contact a p {
	margin: 0;
	flex-grow: 1;
	text-align: right;
	margin-right: 5px;
}

.header .contact img {
	width: 18px;
	height: 18px;
	border-radius: 1000px;
	margin-right: 6px;
	overflow: hidden;
}

@media (prefers-color-scheme: dark) {
	.header .contact img {
		filter: invert(100%);
	}
}

.header .contact .email p:before {
	content: "timwredwards";
}

/* bio */

.bio {
	margin: 20px 0 20px 0;
}

/* skills */
.skills {
	display: flex;
	flex-wrap: wrap;
}

.skills .section:first-of-type ul {
	list-style: none;
	padding: 0 0 0 0.1em;
}

.skills .section {
	flex-grow: 1;
	margin-bottom: 4px;
}

.skills .section * {
	margin: 0;
}

.skills .section p {
	margin-bottom: 1px;
}

/* activity */

.activity .details {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
}

.activity .details * {
	margin: 0;
	width: 50%
}

.activity .details h3 {
	font-weight: 600;
	margin-top: 24px;
	margin-bottom: 0;
	line-height: 50%;
}

.activity .details h5 {
	font-size: 12px;
	font-weight: 500;
	text-align: right;
}

.uni .details h4 {
	width: 100%;
}

.activity .details .tagline {
	font-size: 12px;
	font-style: italic;
	text-align: right;
}

hr {
	opacity: 0.4;
	margin-top: 0;
	margin-bottom: 4px;
	border: none;
	height: 1px;
}

.activity p {
	margin: 0;
}

.activity ul {
	margin: 5px 0;
}

/* printing */

@media only print {
	html {
		zoom: 1.0;
	}

	.pdf-banner {
		display: none;
	}

	.pagebreak { page-break-before: always; }

	.header {
		margin-top: 0px;
	}
}
