/* global */

a {
	color: inherit;
}

html {
	zoom: 1.2;
}

h1 {
	margin: 0;
}

.wrapper-masthead,
.wrapper-footer {
	display: none;
}

.wrapper-main {
	padding: 0 0 30px 0;
}

p, li {
	font-size: 13px;
}

.container {
	max-width: 710px;
}

/* header */
.header {
	margin-top: 20px;
	display: flex;
	align-items: center;
}

.header .image {
	width: 100px;
	height: 100px;
	line-height: 0;
}

.header .image img {
	border-radius: 100%
}

.header .titles {
	flex-grow: 1;
	padding-left: 15px;
}

.header .titles h1 {
	font-size: 2em;
	margin: 0;
	font-weight: 300;
}

.header .titles h2 {
	font-size: 1em;
	margin: 0;
	font-weight: 300;
	letter-spacing: 0.5px;
}

.header .contact {
	margin: 0;
}

.header .contact a {
	display: flex;
	align-items: center;
	margin-top: 5px;
}

.header .contact a * {
	margin: 0;
}

.header .contact img {
	width: 18px;
	height: 18px;
	border-radius: 1000px;
	margin-right: 6px;
	overflow: hidden;
}

@media (prefers-color-scheme: dark) {
	.header .contact img {
		filter: invert(100%);
	}
}

.header .contact .email p:before {
	content: "timwredwards";
}

/* skills */
.skills {
	display: flex;
}

.skills .section * {
	margin: 0;
}

/* activity */

.activity hr {
	opacity: 0.4;
	margin-top: 0;
	margin-bottom: 5px;
}

.activity .title {
	display: flex;
	align-items: baseline;
}

.activity .title * {
	margin: 0;
}

.activity .title h3 {
	margin-top: 10px;
	margin-bottom: 0;
}

.activity .title blockquote {
	font-style: italic;
	font-weight: 300;
	margin-left: 2px;
}

.activity .details {
	display: flex;
	align-items: baseline;
}

.activity .details * {
	margin: 0;
}

.activity .details h4 {
	flex-grow: 1;
}

.activity .details h4, h5 {
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 0.5px;
}

.activity p {
	margin-top: 5px;
	margin-bottom: 0;
}

.activity ul {
	margin: 5px 0;
}

/* printing */

@media only print {
	html {
		zoom: 1.0;
	}

	.header {
		margin-top: 0;
	}

	.wrapper-main {
		padding: 0;
	}
}

