---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**********/
/* CUSTOM */
/**********/

.contact-input, .contact-textarea {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
}

.contact-textarea {
  height: 12em;
}

.contact-label {
  font-weight: bold;
  line-height: 50px
}

.contact-submit {
  width: 100px;
  height: 50px;
  border-radius: 4px;
  font-size: 18px;
  margin-top: 30px;
  font-weight: bold;
  border: 1px solid #ccc;
  background: #ddd;
}

.highlighter-rouge {
  margin:  30px 0;
}

.dark-mode-invert {
  @include dark-mode {
    filter: invert(100%);
  }
}

.category-post {
  line-height: 2em;
  margin-left: 1em;
  text-indent: -1em;
}

.category-active {
  padding: 0px 8px;
  width: fit-content;
  background-color: $lightGray;
  border-radius: 0.5em;
  margin-left: -8px;

  @include dark-mode {
    background: #434345;
  }
}

figure {
  text-align: center;
}

figcaption {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 30px;
}

.svg-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: auto 4px;

  @include dark-mode {
    filter: invert(100%);
  }
}

.selected {
  opacity: 0.75;
  border-bottom: 1.5px solid #939aa1;
}

/**************/
/* BASE RULES */
/**************/

@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-size: 100%;
  height: 100%;
}

body {
  background: #fff;
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #404040;
  line-height: 1.7;
  font-weight: 400;
  font-size: 17px;
  height: 100%;

  @include dark-mode {
    background: #2f2f31;
    color: #ddd;
  }
}

.container {
  margin: 0 auto;
  max-width: 820px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;
  /*text-align: center;*/

  @include mobile {
    line-height: 1.4;
  }

  @include dark-mode {
    color: #d0d0d0;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;

    @include dark-mode {
      color: #ddd;
    }
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 15px 0;
}

table {
 padding: 0;
}

table tr {
 border-top: 1px solid #cccccc;
 background-color: white;
 margin: 0;
 padding: 0;
}

table tr:nth-child(2n) {
 background-color: #f8f8f8;
}

table tr th {
 font-weight: bold;
 border: 1px solid #cccccc;
 text-align: left;
 margin: 0;
 padding: 6px 13px;
}

table tr td {
 border: 1px solid #cccccc;
 text-align: left;
 margin: 0;
 padding: 6px 13px;
}

table tr th :first-child,
table tr td :first-child {
 margin-top: 0;
}

table tr th :last-child,
table tr td :last-child {
 margin-bottom: 0;
}

#search-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active {
    opacity: 0.75;

    * {
      opacity: 0.75;
    }
  }
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 25px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }

  @include dark-mode {
    border-bottom-color: #434345;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 14px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 100%;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
  text-align: left;

  @include mobile {
    text-align: center;
  }
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }

  @include dark-mode {
    color: #d0d0d0;
  }
}

nav {
  float: right;
  margin-top: 23px;
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }

    @include dark-mode {
      color: #ddd;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;

  @include dark-mode {
    border-bottom-color: #434345;
  }
}

.posts > .post:last-of-type {
  border-bottom: none;
}

.post {

  blockquote {
    margin: 1.8em .8em;
    /*border-left: 2px solid $gray;*/
    padding: 0.1em 1em;
    color: $darkerGray;
    font-size: 22px;
    font-style: italic;
    background-color: #f4f4f4;

    @include dark-mode {
      color: #d0d0d0;
      background: #2A2A2C;
    }
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-container {
  min-height: 100%;
  position: relative;
}

.wrapper-main {
  padding-bottom: 180px;
}

.wrapper-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $lightGray;
  line-height: 2.2em;

  @include dark-mode {
    background: #434345;
  }
}

footer {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

body:after {
      background: linear-gradient(to right, #ffffff   0, #2196F3   33%, #E91E63   66%, #000 100%);
      width: 100%;
      height: 5px;
      top: 0;
      position: absolute;
      left: 0;
      content: '';
}

.post h1 {
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  font-kerning: auto;
  font-feature-settings: "kern","liga","dlig","hlig","cswh";
}

.post-metadata {
  display: flex;
  align-items: center;
  margin-bottom: 1.6em;
  flex-wrap: wrap;
}

.post-category {
  font-size: 14px;
  padding: 0px 8px;
  background-color: #4CAF50;
  border-radius: 0.5em;
  color: #fff;
  height: 1.8em;
  margin-right: 5px;
  margin-top: -3px;
}

.post-date{
  color: #939aa1;
  letter-spacing: 1px;
  margin: 0px;
  flex-grow: 1;

  @include mobile {
    width: 100%;
    margin-bottom: 15px;
  }
}

.pagination a, .pagination span {
  padding: 7px 18px;
  /*border: 1px solid #eee;*/
  margin-left: -2px;
  margin-right: -2px;
  display: inline-block;
}

.pagination a {    
  &:hover {
    background-color: #f1f1f1;
    color: #333;

    @include dark-mode {
      background-color: #434345;
      color: #ddd;
    }
  }
}

.pagination {
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
//@import "highlights";
@import "darcula";
