---
layout: default
---

<article class="post detailed">
  <h1>{{ page.title }}</h1>

  <div class="post-metadata">
    <p class="post-date">{{ page.date | date: "%A %-d %B, %Y" }}</p>
      {% for category in page.categories %}
    <a href="{{site.baseurl}}/categories?active={{ category | cgi_escape }}" class="post-category">{{category}}</a>
    {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  </div>

  <div class="entry">
    {{ content }}
    <p>Thanks for reading, if you have any questions or comments, please use the contact button at the bottom of the page to get in touch! ☀️</p>
    <p>Tim</p>
  </div>
  <div class="post-links">
  <b>Share this post: </b><a href="http://twitter.com/share?text={{ page.title }}&url={{site.url}}{{page.url}}" target="_blank">Twitter</a>, <a href="https://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}" target="_blank">Facebook</a>
  <a class="scroll-to-top" href="#top">Scroll to top</a>
  </div>
</article>
